.footer {
  display: flex;
  justify-content: center;
  margin: 90px 0px 0px 0px;
}
.links {
  margin-bottom: 40px;
  font-size: 14px;
  color: rgba(31, 122, 84, 1);
  cursor: pointer;
}

.link-separator {
  color: rgba(0, 0, 0, 0.12);
  padding: 0px 3px;
}
