.db-body {
  background-color: rgb(238, 238, 238);
  padding: 50px 150px;
}

.cc {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 64px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: rgb(141, 220, 151);
  padding-top: 20px;
}

.course {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-bottom: 4px solid rgb(34, 34, 34);
  padding-bottom: 20px;
}

.coursenumber > b {
  font-size: 24px;
}

.coursenumber {
  font-size: 16px;
}

.class {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 20px;
}

.classnumber > b {
  font-size: 24px;
}

.classnumber {
  font-size: 16px;
}

.sortcc {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 64px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-top: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.totcc {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: rgb(102, 102, 102);
  font-size: 12px;
}

.sort {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sortby {
  font-size: 12px;
  color: rgb(102, 102, 102);
}

.sortbycc {
  margin-left: 5px;
  width: 170px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: rgb(51, 51, 51);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.cardscc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2px 270px 0px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: white;
  width: 48%;
  height: 300px;
  padding: 20px 10px;
  margin-top: 20px;
}

.card-details {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.card-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.card-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-size: 20px;
  color: rgb(34, 34, 34);
  width: 90%;
}

.card-subject {
  font-size: 12px;
  color: rgb(102, 102, 102);
}

.card-chapters {
  font-size: 12px;
  color: rgb(102, 102, 102);
}

.card-dd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.card-date {
  font-size: 12px;
  color: rgb(102, 102, 102);
}

.card-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.c-expire {
  background-color: rgb(255, 228, 230);
  color: rgb(216, 0, 0);
  font-size: 10px;
  width: 7%;
  height: 15px;
  margin-top: -20px;
  margin-left: -10px;
}

.c-expire > p {
  margin: 0px;
  padding: 1.5px 3px;
}

@media screen and (max-width: 769px) {
  .db-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
    padding: 50px 0px;
  }
  .cc {
    width: 90%;
  }
  .sortcc {
    width: 90%;
  }
  .cardscc {
    width: 90%;
  }
  .card {
    width: 100%;
  }
  .c-expire {
    width: 8%;
  }
}/*# sourceMappingURL=Dashboard.css.map */