@import "../../scss-variable/variables";

.db-body {
  background-color: rgba(238, 238, 238, 1);
  padding: 50px 150px;
}
.cc {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 64px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: $ccbgcolor;
  padding-top: 20px;
}
.course {
  @include flexCenterCenter();
  flex-direction: row;
  border-bottom: 4px solid $darktextcolor;
  padding-bottom: 20px;
}
.coursenumber > b {
  font-size: $_24pxfont;
}
.coursenumber {
  font-size: $_16pxfont;
}
.class {
  @include flexCenterCenter();
  flex-direction: row;
  padding-bottom: 20px;
}
.classnumber > b {
  font-size: $_24pxfont;
}
.classnumber {
  font-size: $_16pxfont;
}
.sortcc {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 64px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-top: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.totcc {
  @include flexStartCenter();
  color: $lighttextcolor;
  font-size: $_12pxfont;
}
.sort {
  @include flexEndCenter();
}
.sortby {
  font-size: $_12pxfont;
  color: $lighttextcolor;
}
.sortbycc {
  margin-left: 5px;
  width: 170px;
  height: 30px;
  @include flexSpaceBetweenCenter();
  font-size: $_16pxfont;
  color: $textcolor;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.cardscc {
  @include flexSpaceBetweenCenter();
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2px 270px 0px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: white;
  width: 48%;
  height: 300px;
  padding: 20px 10px;
  margin-top: 20px;
}
.card-details {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.card-img {
  @include flexCenterCenter();
}
.card-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
.card-name {
  @include flexSpaceBetweenCenter();
  flex-direction: row;
  font-size: 20px;
  color: rgba(34, 34, 34, 1);
  width: 90%;
}
.card-subject {
  font-size: $_12pxfont;
  color: $lighttextcolor;
}
.card-chapters {
  font-size: $_12pxfont;
  color: $lighttextcolor;
}
.card-dd {
  @include flexSpaceBetweenCenter();
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.card-date {
  font-size: $_12pxfont;
  color: $lighttextcolor;
}
.card-links {
  @include flexSpaceEvenlyCenter();
  margin: 10px;
  padding: 10px;
}
.c-expire {
  background-color: rgba(255, 228, 230, 1);
  color: rgba(216, 0, 0, 1);
  font-size: $_10pxfont;
  width: 7%;
  height: 15px;
  margin-top: -20px;
  margin-left: -10px;
}
.c-expire > p {
  margin: 0px;
  padding: 1.5px 3px;
}
@media screen and (max-width: 769px) {
  .db-body {
    @include flexCenterCenter();
    flex-direction: column;
    background-color: rgba(238, 238, 238, 1);
    padding: 50px 0px;
  }
  .cc {
    width: 90%;
  }
  .sortcc {
    width: 90%;
  }
  .cardscc {
    width: 90%;
  }
  .card {
    width: 100%;
  }
  .c-expire {
    width: 8%;
  }
}
