<div>
    <div class="navbar">
        <div class="logo-div">
            <img class="logo" src="../../../../assets/Zeus-LMS-logo.svg" alt="quantum-logo">
        </div>
    </div>
    <div class="navbar-links">
        <div class="back-btn">
            <img src="../../../../assets/back.svg" alt="back button" class="back">
        </div>
        <div class="text">
            Create An Account
        </div>
        <div class="cc">
            <button mat-raised-button color="primary" class="cancel-btn">Cancel</button>
            <button mat-raised-button color="primary">Create</button>
        </div>
    </div>
</div>