.navbar {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../../assets/header\ pattern\ image.png");
  border-bottom: solid 2px rgba(36, 165, 215, 1);
  width: 100%;
}

.logo {
  padding: 10px 24px;
}

.navbar-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: rgba(60, 78, 98, 1);
  align-items: center;
  padding: 10px 24px 10px 28px;
}

.text {
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
}

.cc {
  text-align: end;
}

.cancel-btn {
  margin-right: 16px;
}
