.navbar {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../../assets/header\ pattern\ image.png");
  border-bottom: solid 2px rgba(49, 185, 228, 1);
  width: 100%;
}

.logo {
  padding: 10px 24px;
}
