@import "../../scss-variable/variables";
.header-body {
  background-image: linear-gradient(
      rgba(37, 49, 63, 0.5),
      rgba(37, 49, 63, 0.5)
    ),
    url("../../assets/headerpatternimage.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  box-shadow: inset 0px -3px 0 0px rgb(49 185 228);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.header-logo {
  width: 20%;
  padding: 20px 50px;
}
.header-links {
  @include flexSpaceAroundCenter();
}
.header-link {
  font-size: $_14pxfont;
  color: $headerlinkscolor;
}
.avatar-img {
  border-radius: 50%;
  border: 2px solid $headerlinkscolor;
}
.alerticon {
  position: relative;
  display: inline-block;
}
.alertnumber {
  color: white;
  background-color: rgba(42, 127, 243, 1);
  border-radius: 50%;
  font-size: $_12pxfont;
  text-align: center;
  position: absolute;
  top: -20px;
  right: -5px;
  width: 15px;
  height: 15px;
}
.announcementicon {
  position: relative;
  display: inline-block;
}
.announcementnumber {
  color: white;
  background-color: rgba(42, 127, 243, 1);
  border-radius: 50%;
  font-size: $_12pxfont;
  text-align: center;
  position: absolute;
  top: -20px;
  right: -10px;
  width: 15px;
  height: 15px;
}
.avatar {
  position: relative;
  display: inline-block;
}
.avatartext {
  background-color: white;
  color: rgba(34, 34, 34, 1);
  border-radius: 50%;
  border: 1px solid black;
  font-size: $_12pxfont;
  text-align: center;
  position: absolute;
  top: -15px;
  right: -5px;
  width: 15px;
  height: 15px;
}
.hamburger {
  display: none;
}
@media screen and (max-width: 769px) {
  .header-logo {
    width: 30%;
    padding: 20px 50px;
  }
  .header-link {
    display: none;
  }
  .alerticon {
    display: inline-block;
    opacity: 1;
  }
  .announcementicon {
    display: inline-block;
    opacity: 1;
  }
  .avatar {
    display: inline-block;
    opacity: 1;
  }
  .hamburger {
    display: block;
  }
}
