<div class="navbar">
    <div class="logo">
        <img src="../../../../assets/signupnavbarlogo.svg" alt="quantum logo">
    </div>
</div>
<div class="navbar-links">
    <div class="back-btn">
        <img src="../../../../assets/back.svg" alt="back button" class="back">
    </div>
    <div class="text">
        Create An Account
    </div>
    <div class="cc">
        <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" class="cancel-btn">
            CANCEL
        </a>
        <a class="create-btn disable">
            CREATE
        </a>
    </div>
</div>