<div class="step1">
    <div class="steps">
        <div class="stepone">
            <span class="step-num active">1</span> Personal Information
        </div>
        <div class="step-sep"></div>
        <div class="steptwo">
            <span class="step-num">2</span> Qualification
        </div>
        <div class="step-sep"></div>
        <div class="stepthree">
            <span class="step-num">3</span> Review and Proceed
        </div>
    </div>
    <div class="personal-form">
        <div class="data-input">
            <div class="fname">
                <label for="fname" class="input-labels">First Name*</label>
                <input type="text" placeholder="First Name*">
            </div>
            <div class="lname">
                <label for="lname" class="input-labels">Last Name*</label>
                <input type="text" placeholder="Last Name*">
            </div>
            <div class="email">
                <label for="email" class="input-labels">Email*</label>
                <input type="email" placeholder="Email*">
            </div>
            <div class="number">
                <label for="number" class="input-labels">Phone Number*</label>
                <br>
                <span>+</span>
                <input type="text" class="number-cc">
                <input type="text" class="phone-number">
            </div>
            <div class="cvupload">
                <img src="../../../../assets/upload.svg" alt="upload icon">
                <input type="file" name="cv" id="cv" class="cv-input">
                <label for="cv" class="cv-text">UPLOAD RESUME</label>
            </div>
            <div class="portfolio">
                <label for="portfolio" class="input-labels">Enter Portfolio URL (if any)</label>
                <input type="text" placeholder="Portfolio Website">
            </div>
            <div class="job-roles">
                <label for="jobroles" class="input-labels">Preferred Job Roles*</label>
                <div class="jobs">
                    <img src="../../../../assets/checkbox-checked.svg" alt="checkbox-checked">
                    Instruction Designer
                </div>
                <div class="jobs">
                    <img src="../../../../assets/checkbox-checked.svg" alt="checkbox-checked">
                    Software Engineer
                </div>
                <div class="jobs">
                    <img src="../../../../assets/checkbox-checked.svg" alt="checkbox-checked">
                    Software Quality Engineer
                </div>
            </div>
            <div class="referral">
                <label for="portfolio" class="input-labels">If You Are Registering Via A Referral, Please Mention Full
                    Name Of The Employee Who Referred You</label>
                <input type="text">
            </div>
            <div class="email-sub">
                <img src="../../../../assets/checkbox-checked.svg" alt="checkbox-checked">
                Send me job related updates via mail
            </div>
        </div>
        <div class="personal-img">
            <div class="avatar">
                <img class="avatar-img" src="../../../../assets/avatar.png" alt="avatar">
                <input type="file" name="profilepic" id="profilepic" class="profilepic-input">
                <label for="profilepic" class="label-profilepic">UPLOAD DISPLAY PICTURE</label>
                <p class="pic-limit">Max. image size: 5 MB</p>
            </div>
        </div>
    </div>
    <div class="next-btn">
        NEXT
    </div>
</div>