@import "../../../../scss-var/variables";

.step1 {
  @include flexCenterStretch;
  flex-direction: column;
  background-color: rgba(238, 238, 238, 1);
}

.steps {
  display: grid;
  grid-template-columns: 1fr 0.7fr 1fr 0.7fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 0px;
  background-color: rgba(255, 255, 255, 1);
  padding: 12px 16px;
  margin: 24px;
  border-radius: 2px;
  font-size: 16px;
  align-items: center;
}

.stepone {
  width: fit-content;
  color: rgba(34, 34, 34, 1);
}

.steptwo {
  width: fit-content;
  margin: 0px auto;
  color: rgba(34, 34, 34, 1);
}

.stepthree {
  width: fit-content;
  margin-left: auto;
  color: rgba(34, 34, 34, 1);
}

.step-num {
  background-color: rgba(117, 117, 117, 1);
  color: rgba(255, 255, 255, 1);
  padding: 5px 12px 6px 12px;
  border-radius: 50%;
}

.active {
  background-color: rgba(63, 210, 139, 1);
  color: rgba(51, 51, 51, 1);
}

.step-sep {
  border-top: solid 2px rgba(0, 0, 0, 0.12);
}

.personal-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: rgba(255, 255, 255, 1);
  padding: 24px;
  margin: 0px 24px;
  border-radius: 2px;
}

.input-labels {
  color: rgba(102, 102, 102, 1);
  font-size: 12px;
}

.fname > input,
.lname > input,
.email > input,
.portfolio > input,
.referral > input {
  outline: none;
  width: 100%;
  font-size: 16px;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.38);
  margin-top: 12px;
  font-family: inherit;
  color: rgba(34, 34, 34, 1);
}

.lname {
  margin-top: 40px;
}

.email {
  margin-top: 40px;
}

.number {
  margin-top: 40px;
}

.number-cc {
  outline: none;
  width: 5%;
  font-size: 16px;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.38);
  margin-top: 12px;
  font-family: inherit;
  color: rgba(34, 34, 34, 1);
  margin: 0px 5px;
}

.phone-number {
  outline: none;
  width: 20%;
  font-size: 16px;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.38);
  margin-top: 12px;
  font-family: inherit;
  color: rgba(34, 34, 34, 1);
}

.cvupload {
  margin-top: 40px;
  display: flex;
  align-items: center;
  color: rgba(31, 122, 84, 1);
}

.cv-text {
  cursor: pointer;
}

.cv-input,
.profilepic-input {
  display: none;
}

.portfolio {
  margin-top: 40px;
}

.job-roles {
  margin-top: 40px;
}

.jobs {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.referral {
  margin-top: 40px;
}

.email-sub {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.personal-img {
  display: flex;
  justify-content: end;
}

.avatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.avatar-img {
  width: 70%;
}

.label-profilepic {
  font-size: 12px;
  color: rgba(31, 122, 84, 1);
  margin-top: 20px;
  cursor: pointer;
}

.pic-limit {
  color: rgba(117, 117, 117, 1);
  font-size: 10px;
}

.next-btn {
  background-color: rgba(63, 210, 139, 1);
  color: rgba(31, 40, 52, 1);
  font-size: 14px;
  border: none;
  padding: 5px 27px;
  margin: 32px auto;
  font-family: inherit;
  border-radius: 2px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.24);
  width: min-content;
  cursor: pointer;
}
