<app-header [img]="img"></app-header>
<div class="main">
    <h3>Log in</h3>
    <div class="form">
        <div class="email">
            <input type="email" name="email" id="email" placeholder="Email ID*">
            <a routerLink="#">FORGOT EMAIL ID?</a>
        </div>
        <div class="pass">
            <div class="inp">
                <input type="password" name="pass" id="pass" placeholder="Password*">
                <img src="../../assets/img/preview.svg" >
            </div>
            <a routerLink="#">FORGOT PASSWORD?</a>
        </div>
        <div class="check">
            <input type="checkbox" name="remember"><p>Remember Me</p>
        </div>
        <div class="btn-container">
            <button class="btn" (click)="auth()">LOG IN</button>
        </div>
        <p class="center">Not registered yet?</p>
        <a routerLink="register">CREATE AN ACCOUNT</a>
    </div>
</div>
<div class="abt">
    <a href="#">About</a> <span>|</span> <a href="#">Contact Us</a>
</div>
